
<header class="bg-success text-white p-2 my-4"><h3>tab by using ngfor</h3></header>


<ul class="nav nav-pills my-4">
    <li class="nav-item" 
    (click)="onTabClick(tab.frameWorkName)"
    *ngFor="let tab of tabArr">
        <a href="javascript:;" class="nav-link"
        [ngClass]="{
            'active':selectedFrameWork.toLowerCase().includes(tab.frameWorkName)
        }">{{tab.tabTitle}}</a>
    </li>
</ul>
<div class="tab-content">
    <div class="card">
        <ng-container *ngFor="let tab of tabArr">
        <div class="card-body" *ngIf="selectedFrameWork.toLowerCase().includes(tab.frameWorkName)"
        [innerHTML]="tab.tabContent">    
        </div>
    </ng-container>
    </div>
</div>     
