
<header class="bg-primary text-white text-center p-4"><h2>Test-Tab</h2></header>
<div class="container">
  <div class="row">
    <div class="col-12">
        <!-- <app-tab-d></app-tab-d> -->
         <!-- <app-tab-d-attri></app-tab-d-attri> -->
          <!-- <app-tab-ngfor></app-tab-ngfor> -->
           <!-- <app-tab-ng-switch></app-tab-ng-switch> -->
            <!-- <app-tab-switch-ngfor></app-tab-switch-ngfor> -->
             <!-- <app-ngswich-p></app-ngswich-p> -->
    </div>
  </div>
</div>