<header class="bg-success text-white p-2 my-4"><h3>tab by using directives with custom attribute</h3></header>
<ul class="nav nav-pills my-4">
    <li class="nav-item">
        <a href="javascript:;" class="nav-link"
        [ngClass]="{
            'active':selectedFrameWork.toLowerCase().includes('angular')
        }"
        data-framework="angular"
        (click)="onTabClick($event)"
        >Angular</a>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link"
        [class.active]="selectedFrameWork.toLowerCase().includes('react')"
        data-framework="react"
        (click)="onTabClick($event)"
        >React</a>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link"
        [ngClass]="{
            'active':selectedFrameWork.toLowerCase().includes('vue')
        }"
         data-framework="vue"
         (click)="onTabClick($event)"
        >Vue</a>
    </li>
</ul>


<div class="tab-content">
    <div class="card">
        <div class="card-body" *ngIf="selectedFrameWork.toLowerCase().includes('angular')">
            <strong>Angular</strong>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae alias vel illo quisquam laborum quis inventore consequatur et molestias eaque.
        </div>
        <div class="card-body"  *ngIf="selectedFrameWork.toLowerCase().includes('react')">
            <strong>React</strong>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At accusantium recusandae excepturi id tempore unde velit dolorem laudantium nisi corrupti!
        </div>
        <div class="card-body"  *ngIf="selectedFrameWork.toLowerCase().includes('vue')">
            <strong>Vue</strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ratione aspernatur veniam a saepe reprehenderit! Adipisci ex distinctio consequuntur? Rem.
        </div>
    </div>
</div>